*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(
        90deg,
        rgb(160, 230, 128) 0%,
        rgb(97, 195, 140) 100%
    );
    font-size: 1.3rem;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 90%;
    min-height: 768px;
    background: white;
    text-align: center;
    margin: 10rem auto;
    border-radius: 1rem;
    padding-bottom: 2rem;
}

h1 {
    margin: 2.5rem 0;
    font-size: 2.5rem;
}

.todo-form {
    margin-bottom: 2rem;
}

.todo-input {
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 2px solid rgb(93, 221, 106);
    outline: none;
    width: 20rem;
    font-size: 1.3rem;
}

.todo-button {
    padding: 1rem;
    border: none;
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
        90deg,
        rgb(160, 230, 128) 0%,
        rgb(97, 195, 140) 100%
    );
    color: white;
    text-transform: capitalize;
    font-size: 1.3rem;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: white;
    background: linear-gradient(
        90deg,
        rgb(160, 230, 128) 0%,
        rgb(97, 195, 140) 100%
    );
    padding: 1rem;
    border-radius: 0.5rem;
    width: 90%;
}

.icon-container {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}

@media only screen and (min-width: 680px) {
    .App {
        width: 80%;
    }
}

@media only screen and (min-width: 900px) {
    .App {
        width: 60%;
    }
}

@media only screen and (min-width: 1280px) {
    .App {
        width: 768px;
    }
}
