*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --primary-color: rgb(145, 234, 122);
    --secondary-color: rgb(181, 232, 169);
}

body {
    height: 100vh;
    line-height: 1.6;
    padding: 1em 1.5em;
}


a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}



footer {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

footer>*:nth-child(1) {
    display: inline-flex;
    gap: 1.5rem;
}

footer>*:nth-child(2) {
    display: inline-flex;
    gap: 2rem;
}