*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --primary-color: rgb(145, 234, 122);
    --secondary-color: rgb(181, 232, 169);
}

body {
    margin: 1em;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    line-height: 1.6;
    padding: 1em 1.5em;
}


a {
    text-decoration: none;
    font-size: 1.3rem;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/hero-background.jpg);
    background-size: cover;
    /* background-position-x: 20%; */
    width: 100%;
    height: 100vh;
    z-index: -1;

}

ul {
    list-style-type: none;
}

footer {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

footer>*:nth-child(1) {
    display: inline-flex;
    gap: 1.5rem;
}

footer>*:nth-child(2) {
    display: inline-flex;
    gap: 2rem;
}