*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* box styling */
.box {
    height: 10rem;
    width: 10rem;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: yellow;
}

.box3 {
    background-color: blue;
}

.box4 {
    background-color: green;
}

/* hovering effect */
main:hover .box1 {
    background-color: aliceblue;
}

main:hover .box2 {
}

main:hover .box3 {
}

main:hover .box4 {
}